/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos CSS aqui */
// html { 
//   height: 100%; 
// }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// header {
//   background-color: #f2f2f2;
//   padding: 10px;
//   text-align: center;
// }

// nav {
//   display: flex;
//   justify-content: space-around;
//   background-color: #333;
//   color: #fff;
//   padding: 10px;
// }

// nav ul {
//   list-style-type: none;
//   padding: 0;
//   display: flex;
// }

// nav ul li {
//   margin: 0 10px;
// }

// main {
//   display: flex;
//   flex: 1;
// }

// aside {
//   background-color: #f2f2f2;
//   width: 15%;
//   padding: 10px;
// }

// footer {
//   background-color: #333;
//   color: #fff;
//   text-align: center;
//   padding: 10px;
// }
