<div id="app">

<!--   
  <nav>
    <ul>
        <li><a href="#section1">Seção 1</a></li>
        <li><a href="#section2">Seção 2</a></li>
        <li><a href="#section3">Seção 3</a></li>
    </ul>
  </nav>  -->


  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  </nav>

    <a href="#" class="navbar-brand">bezKoder</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/board-admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/board-moderator" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav> -->


  <!-- <header>
    <h1>Título da Página</h1>
  </header>

  <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
  </nav>

  <main>  

    <aside>
      <h2>Menu Lateral</h2>
      <ul>
          <li><a href="#item1">Item 1</a></li>
          <li><a href="#item2">Item 2</a></li>
          <li><a href="#item3">Item 3</a></li>
      </ul>
    </aside>  

    <router-outlet></router-outlet>

  </main>

  <footer>
    <p>Rodapé da Página</p>
 </footer>  -->

  <div class="container">
    <router-outlet></router-outlet>    
    <!-- <app-home-form></app-home-form> -->
    <!-- <router-outlet></router-outlet> -->
  </div>



  <!-- <router-outlet></router-outlet> -->
</div>