<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <section href="User name login" id="userNameLogin">
    <label 
      for="username" 
      class="form-label"
    >
      Nome de usuário
    </label>
    <input 
      type="text" 
      id="username" 
      name="username" 
      formControlName="username"
      class="form-control" 
      required aria-label="Nome de usuário" 
      aria-required="true"
      [ngClass]="{ 'is-invalid': submitted && getLoginForm['username'].errors }"
    >
    <div *ngIf="submitted && getLoginForm['username'].errors" class="invalid-feedback">                     
      <div *ngIf="getLoginForm['username'].errors['required']">Username is required</div> 
    </div>  
  </section>

  <section href="User password login" id="userPasswordLogin">
    <label for="password" class="form-label">Senha</label>
    <div style="position: relative;">
        <input 
          type="password" 
          id="password" 
          name="password" 
          formControlName="password"
          required aria-label="Senha" 
          aria-required="true"
          class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && getLoginForm['password'].errors }"          
        >
        <button type="button" onclick="togglePassword()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background-color: transparent; border: none; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" style="color: black;" viewBox="0 0 16 16">
                <path d="M7.077.144c-.39-.39-1.024-.39-1.414 0l-.795.796c-2.733 2.733-2.733 7.17 0 9.903l.795.796c.39.39 1.024.39 1.414 0l.795-.796c1.657-1.657 2.574-3.865 2.574-6.203s-.917-4.546-2.574-6.203zm-3.462 3.462c.81-.81 2.192-.81 3.003 0l.133.134c.607.607.94 1.414.94 2.262s-.333 1.655-.94 2.262l-.133.134c-.81.81-2.192.81-3.003 0l-.133-.134c-.607-.607-.94-1.414-.94-2.262s.333-1.655.94-2.262l.133-.134z" />
                <path fill-rule="evenodd" d="M8 4.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm-1 3a1 1 0 1 1 2 0 1 1 0 0 1-2 0z" />
            </svg>
        </button>
        <div *ngIf="submitted && getLoginForm['password'].errors" class="invalid-feedback">
          <div *ngIf="getLoginForm['password'].errors['required']">Password is required</div> 
        </div>
    </div>
  </section>

  <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Entrar
  </button>

  <button class="btn btn-primary" (click)="singUp()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Sing Up
  </button>  

  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error || 'teste' }}</div>

</form>
 
 
 
 
 
 
 
 
 <!-- <div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Username: test<br />
        Password: test
    </div>
    <div class="card">
        <h4 class="card-header py-3">Angular 14 JWT Login Example</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username"  type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && getLoginForm['username'].errors }" />
                    <div *ngIf="submitted && getLoginForm['username'].errors" class="invalid-feedback">
                        
                        <div *ngIf="getLoginForm['username'].errors['required']">Username is required</div> 
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getLoginForm['password'].errors }" />
                    <div *ngIf="submitted && getLoginForm['password'].errors" class="invalid-feedback">
                        <div *ngIf="getLoginForm['password'].errors['required']">Password is required</div> 
                    </div>
                </div>
                <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error }}</div>
            </form>
        </div>
    </div>
  </div> -->


<!-- <div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="getForm.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': getForm.submitted && username.errors }"
        />
        <div
          *ngIf="username.errors && getForm.submitted"
          class="invalid-feedback"
        >
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': getForm.submitted && password.errors }"
        />
        <div
          *ngIf="password.errors && getForm.submitted"
          class="invalid-feedback"
        >
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Login</button>
      </div>
      <div class="form-group">
        <div
          *ngIf="getForm.submitted && isLoginFailed"
          class="alert alert-danger"
          role="alert"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>  -->
